@font-face {
    font-family: "Montserrat";
    src: url(../fonts/src/Montserrat-Medium.ttf),
        url(../fonts/src/Montserrat-Medium.woff);
    font-family: 600;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/src/Montserrat-Regular.ttf),
        url(../fonts/src/Montserrat-Regular.woff);
    font-family: 400;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/src/Montserrat-Bold.ttf),
        url(../fonts/src/Montserrat-Bold.woff);
    font-family: 700;
}