@import '../../node_modules/reset-css/sass/reset';
@import '../scss/fonts';

body {
    padding: 0;
    font-family: "Montserrat";
    font-weight: 400;
}

.header-page {
    width: 100%;
    height: 950px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: #0C1417;
    img {
        position: absolute;
        background-size: cover;
    }
    .menu {
        margin-top: 64px;
        z-index: 98;
    }
    .logo {
        width: 230px;
    }
    .phone {
        margin-top: 65px;
    }
    .link {
        text-decoration: none;
        color: #fff;
        transition: 1s;
        font-size: 16px;
        font-weight: 400;
    }
    .link:hover {
        color:#F7931E;
        transition: 1s;
    }
    .social {
        display: flex;
        justify-content: right;
        width: 1440px;
        height: 30px;
        margin-bottom: 57px;
    }
    .information {
        position: relative;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prev {
        position: absolute;
        bottom: 51px;

    }
}

.menu {
    .list {
        width: 581px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.navigation {
    position: relative;
    width: 1336px;
    height: 106px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .img-top {
        position: absolute;
        width: 216px;
        gap: 243px;
        top: -34px;
        right: 180px;
    }
    .img-left {
        position: absolute;
        left: -52px;
        bottom: -935px;
        width: 408px;
    }
}

.social {
    .list {
        width: 70px;
        margin-right: 63px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .item {
        display: flex;
        justify-content: center;
    }
    .link {
        display: flex;
        align-items: center;
        position: relative;
        width: 40px;
        height: 40px;
    }
    svg {
        fill: #fff;
        transition: 1s;
    }

    svg:hover {
        fill: #F7931E;
        transition: 1s;
    }
}

.information {
    .header-text {
        font-size: 64px;
        font-weight: 700;
        line-height: 68px;
    }
    .header-description {
        margin-top: 35px;
        margin-bottom: 35px;
        text-align: center;
        font-weight: 400;
        font-size: 28px;
    }
    .btn-info {
        position: relative;
        background-image: url("../img/Rectangle 14.webp");
        width: 280px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
    }
    .btn-info::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-image: url("../img/Rectangle 15.webp");
        background-repeat: no-repeat;
        width: 290px;
        height: 60px;
        transition: 1s;
        z-index: 98;
    }

    .btn-info:hover::before {
        position: absolute;
        display: block;
        bottom: 10px;
        left: 15px;
        transition: 1s;
    }
}

.main-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .container {
        position: relative;
        width: 100%;
        background: #0C1417;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 97;
    }
    .new-live {
        width: 1440px;
        margin-top: 140px;
        display: flex;
        flex-direction: column;
    }
}

.new-left-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#fff;
    .list {
        display: flex;
    }
    .item:nth-child(2) {
        margin-top: 50px;
        margin-left: -80px;
    }
}

.new-right-block {
    display: flex;
    flex-direction: column;
    margin-left: 76px;
    .info {
        font-size: 30px;
        font-weight: 700;
        line-height: 34px;
    }
    .description {
        margin-top: 50px;
        margin-bottom: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
    .btn-consultant {
        color:#fff;
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 280px;
        height: 60px;
        background-image: url("../img/Rectangle 15.webp");
        background-repeat: no-repeat;
        transition: 1s;
    }
    .btn-consultant:hover {
        content: '';
        color:#F7931E;
    }
}

.new-icon {
    margin-top: 50px;
    color: #fff;
    .list {
        display: flex;
        flex-direction: row;
    }
    .item {
        height: 85px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: 1s;
        span {
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            margin-left: 25px;
        }
    }

    .item:hover {
        border-bottom: 2px solid #F7931E;
        transition: 1s;
    }
}

.gallery {
    position: relative;
    width: 1440px;
    margin-top: 100px;
    .gallery-text {
        font-size: 30px;
        font-weight: 700;
        line-height: 34px;
        text-align: center;
        color: #fff;
        margin-bottom: 80px;
    }
    .slider-trener {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list {
            display: flex;
            align-items: center;
            width: 1160px;
            overflow: hidden;
        }
        .item {
            margin-right: 30px;
        }
        .btn-left, .btn-right {
            position: absolute;
        }
        .prokrutka {
            position: relative;
            margin-top: 33px;
            background-color: #fff;
            height: 4px;
            width: 1000px;
            .point {
                position: absolute;
                top: -3px;
                left: 52px;
                background-color:#F7931E;
                height: 10px;
                width: 200px;
            }
        }
        .prokrutka-trener {
            margin-bottom: 103px;
        }
    }
}

.btn-left, .btn-right {
    svg {
        fill: #fff;
        transition: 1s;
        cursor: pointer;
    }
    svg:hover {
        fill: #F7931E;
        transition: 1s;
    }
}

.btn-right {
    right: 40px;
    top: 40%;
}

.btn-left {
    z-index: 98;
    left: 40px;
    top: 40%;
}

.slider-sportzal {
    margin-top: 60px;
}

.component-4 {
    position: absolute;
    width: 276px;
    height: 331px;
    bottom: -34px;
    background-image: url('../img/Component\ 4.webp');
    background-repeat: no-repeat;
}

.aboniment, .one-traning {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .aboniment-table {
        margin-top: 100px;
        width: 1440px;
    }
    .aboniment-text {
        margin-bottom: 80px;
        font-size: 30px;
        font-weight: 700;
        line-height: 34px;
        text-align: center;
    }
    .abonement-shapka_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 15px;
        margin-bottom: 35px;
        border-bottom: 2px solid #0C141780
    }

    .abonement-shapka_item {
        text-align: center;
        width: 220px;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }
    .abonement-shapka_item:nth-child(1) {
        text-align: left;
        font-weight: 400;
    }
    .abonement-shapka_item:nth-child(5) {
        color:#F7931E;
    }
    .abonement-stroka_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .abonement-yacheika_item {
        width: 210px;
        height: 100px;
        text-align: center;
    }
    .abonement-stroka_item:nth-child(1) {
        .abonement-yacheika_item {
            text-align: left;
            font-weight: 700;
            font-size: 16px;
        }
        .abonement-yacheika_item:nth-child(1) {
            color:#F7931E;
        }
    }

.trener {
    width: 100%;
    color: #fff;
    .trener-block {
        margin-top: 100px;
        width: 1440px;
        display: flex;
        .trener-info {
            margin-top: 207px;
            margin-left: 82px;
            margin-right: 55px;
            font-size: 30px;
            font-weight: 700;
            line-height: 34px;
        }
        .slider {
            width: 1104px;
            overflow: hidden;
        }
    }
    .slider-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        svg {
            padding-right: 40px;
        }
    }
}

.slider {
    .list {
        display: flex;
    }
    .item {
        margin-right: 28px;
    }
    .trener-personal {
        margin-top: 15px;
        color: rgba(255, 255, 255, 0.50);
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
    }
    .trener-name {
        margin-top: 20px;
    }
}

.question {
    color:#fff;
    .question-block {
        height: 600px;
        width: 1440px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
    img {
        position: absolute;
    }
    .contakts-block {
        z-index: 98;
        padding-right: 170px;
    }
    .question-info {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .question-form-text {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        span {
            color:#F7931E;
        }
    }
    form {
        width: 351px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input {
        width: 351px;
        outline: none;
        background: none;
        border: none;
        border-bottom: 1px solid #fff;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    button {
        margin-top: 30px;
        display: block;
        width: 280px;
        height: 60px;
        background: url('../img/Rectangle 15.webp');
        background-color: none;
        border: none;
        color:#fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }
    .question-help {
        color: rgba(255, 255, 255, 0.50);
        font-size: 14px;
        line-height: 20px;
        margin-top: 20px;
        text-align: center;
    }
}

.map {
    width: 100%;
    display: flex;
    justify-content: center;
    .map-content {
        width: 1440px;
        height: 567px;
        position: relative;
        display: flex;
        justify-content: flex-start;
    }
    img {
        position: absolute;
        left: 0;
    }
    .map-block {
        margin-top: 59px;
        margin-left: 176px;
        z-index: 98;
        width: 396px;
        height: 449px;
        background: #0C1417;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        .contakts-text {
            font-size: 30px;
            font-weight: 700;
            line-height: 34px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
    .item {
        display: flex;
        justify-content: flex-start;
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 26px;
        }
        img {
            position: relative;
            height: 24px;
            margin-right: 16px;
        }
    }
    .map-social {
        width: 300px;
        margin-top: 28px;
        display: flex;
        align-items: center;
    }
    svg {
        fill:#F7931E;
        margin-right: 15px;
    }
}

